TimeLapseflows.json
[{"id":"bad76204.c8df4","type":"tab","label":"Time Lapse","disabled":false,"info":""},{"id":"28331621.73277a","type":"tab","label":"DropBox","disabled":false,"info":""},{"id":"7ffa930e.5d138c","type":"tab","label":"Raspberry monitoring","disabled":false,"info":""},{"id":"eb31d28b.ed9f1","type":"tab","label":"Weather Info","disabled":false,"info":""},{"id":"cb49a8bf.39fd18","type":"subflow","name":"Set Coords","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"7abd9ab6.112374","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#434646","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#434646","edited":true},"page-titlebar-backgroundColor":{"value":"#434646","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#686d6d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#434646","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":50,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5bcc71d5.146a","type":"ui_group","z":0,"name":"Latest Image","tab":"e1e7b6.4f688848","order":1,"disp":true,"width":"12","collapse":false},{"id":"ff832dbd.e629b","type":"ui_group","z":0,"name":"Time Shift","tab":"e1e7b6.4f688848","order":2,"disp":true,"width":"10","collapse":false},{"id":"6b59c862.c51d38","type":"ui_group","z":0,"name":"Device Information","tab":"","order":2,"disp":true,"width":"7","collapse":false},{"id":"68fb56e3.606a08","type":"ui_group","z":0,"name":"System","tab":null,"order":1,"disp":true,"width":"6","collapse":false},{"id":"2378ee42.916922","type":"ui_group","z":0,"name":"MainGroup","tab":"","order":1,"disp":false,"width":10,"collapse":false},{"id":"8bc39980.f44638","type":"ui_group","z":0,"name":"MainGroup","tab":"403739f0.85ad98","order":1,"disp":false,"width":"12","collapse":false},{"id":"6a3d7a6a.00cf44","type":"ui_group","z":0,"name":"Group 3","tab":null,"order":3,"disp":true,"width":6},{"id":"75536394.d4c5dc","type":"ui_group","z":0,"name":"Group 4","tab":null,"order":2,"disp":true,"width":6},{"id":"8066253e.9000a8","type":"ui_group","z":0,"name":"Group 5","tab":null,"order":4,"disp":true,"width":6},{"id":"520ec34f.25efec","type":"ui_group","z":0,"name":"Group 6","tab":null,"order":5,"disp":true,"width":6},{"id":"414c4f27.08349","type":"ui_group","z":0,"name":"Weather Group","tab":"","order":1,"disp":false,"width":"7","collapse":false},{"id":"bc61c55e.8a1f38","type":"ui_group","z":0,"name":"Timer Configuration","tab":"e1e7b6.4f688848","order":4,"disp":true,"width":"6","collapse":false},{"id":"8d5cbce1.55338","type":"ui_group","z":0,"name":"dashboard","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"45d63eea.90e99","type":"ui_group","z":0,"name":"Image Control","tab":"e1e7b6.4f688848","order":3,"disp":true,"width":"7","collapse":false},{"id":"c8176b8d.de4eb8","type":"ui_group","z":0,"name":"Formating Date","tab":"","order":1,"disp":true,"width":"5","collapse":false},{"id":"dd6560f0.217a8","type":"ui_group","z":0,"name":"Group 1","tab":"4b4532ff.d9680c","order":1,"disp":true,"width":6},{"id":"4b91adf1.ea1324","type":"ui_group","z":0,"name":"Group 2","tab":"4b4532ff.d9680c","order":5,"disp":true,"width":6},{"id":"720253ca.7ba91c","type":"ui_group","z":0,"name":"Group 3","tab":"4b4532ff.d9680c","order":2,"disp":true,"width":6},{"id":"2dbf5429.2bae2c","type":"ui_group","z":0,"name":"Group 4","tab":"4b4532ff.d9680c","order":3,"disp":true,"width":6},{"id":"33c6acd9.c34324","type":"ui_group","z":0,"name":"Group 5","tab":"4b4532ff.d9680c","order":4,"disp":true,"width":6},{"id":"4b126107.e5fc5","type":"ui_spacer","z":0,"name":"spacer","group":"cb3b74d6.c67008","order":4,"width":"1","height":1},{"id":"3385205c.c62a1","type":"ui_spacer","z":0,"name":"spacer","group":"cb3b74d6.c67008","order":8,"width":1,"height":1},{"id":"72c620e7.0582a","type":"ui_tab","z":0,"name":"Time-Lapse Settings","icon":"settings","order":2,"disabled":false,"hidden":false},{"id":"d54b4afc.0b8738","type":"ui_tab","z":0,"name":"Weather","icon":"fa-thermometer-half","order":3,"disabled":false,"hidden":false},{"id":"6e6e46c5.ac00b8","type":"ui_tab","z":0,"name":"Raspberry Pi (Control Panel)","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c4f41c90.1dbb4","type":"dropbox-config","z":"","name":"FullTimelapseProject"},{"id":"b6ae4f6b.d4cb2","type":"ui_group","z":"","name":"MainGroup","tab":"d54b4afc.0b8738","order":1,"disp":false,"width":"12","collapse":false},{"id":"b54ffbeb.dcaef8","type":"ui_group","z":"","name":"Temperature","tab":"6e6e46c5.ac00b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"99270f04.70cce","type":"ui_group","z":"","name":"Memory","tab":"6e6e46c5.ac00b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"562a7af5.2f0594","type":"ui_group","z":"","name":"Disk","tab":"6e6e46c5.ac00b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"d9bea42d.8dade8","type":"ui_group","z":"","name":"CPU","tab":"6e6e46c5.ac00b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"c4686a98.357ef8","type":"ui_group","z":"","name":"Info","tab":"6e6e46c5.ac00b8","order":5,"disp":true,"width":"6","collapse":false},{"id":"54b442eb.37c71c","type":"ui_group","z":"","name":"Latest Image","tab":"72c620e7.0582a","order":1,"disp":true,"width":"12","collapse":false},{"id":"c9feaafa.2f8738","type":"ui_group","z":"","name":"Time Shift","tab":"72c620e7.0582a","order":2,"disp":true,"width":"10","collapse":false},{"id":"5aba6d90.86dba4","type":"ui_group","z":"","name":"Image Control","tab":"72c620e7.0582a","order":3,"disp":true,"width":"7","collapse":false},{"id":"898ffa36.0d59e8","type":"ui_group","z":"","name":"Timer Configuration","tab":"72c620e7.0582a","order":4,"disp":true,"width":"6","collapse":false},{"id":"5e6d661b.664798","type":"ui_spacer","name":"spacer","group":"54b442eb.37c71c","order":5,"width":7,"height":1},{"id":"88630243.b5822","type":"ui_spacer","name":"spacer","group":"5aba6d90.86dba4","order":8,"width":3,"height":1},{"id":"b6f3c9d7.6fc798","type":"ui_group","z":"","name":"File Browser","tab":"1f32ad1d.92c1d3","order":1,"disp":true,"width":"18","collapse":false},{"id":"1f32ad1d.92c1d3","type":"ui_tab","z":"","name":"Files","icon":"dashboard","disabled":false,"hidden":false},{"id":"14348a56.cf4f96","type":"inject","z":"bad76204.c8df4","name":"record stop time","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":150,"y":1440,"wires":[["b03850c5.6bf74"]]},{"id":"c682a432.b10188","type":"exec","z":"bad76204.c8df4","command":"/home/pi/.node-red/make-gif.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Make gif","x":700,"y":1440,"wires":[["90ba31cc.71426","bfd7fb1.c14d608","88578d5.c46ac7"],[],[]]},{"id":"b03850c5.6bf74","type":"function","z":"bad76204.c8df4","name":"gif name","func":"//Using the date and time,\n//a unique name is stored in a global variable\n//Using context store, this value is stored in\n//the file system to survive a reboot.\n//This name is also passed to the exec node.\n//The bash script uses it to name the final gif.\nvar a = new Date().toString ();\nvar parts = a.split(\" \");\n\n//node.warn(parts);\n//node.warn(parts[4]);\n//node.warn(parts[4].split(\":\"));\n\nvar strDate = parts[3];\n\nif (parts[1] == \"Jan\"){\n    strDate = strDate + \"01\";\n  }else if (parts[1] == \"Feb\"){\n    strDate = strDate + \"02\";\n  }else if (parts[1] == \"Mar\"){\n    strDate = strDate + \"03\";\n  }else if (parts[1] == \"Apr\"){\n    strDate = strDate + \"04\";\n  }else if (parts[1] == \"May\"){\n    strDate = strDate + \"05\";\n  }else if (parts[1] == \"Jun\"){\n    strDate = strDate + \"06\";\n  }else if (parts[1] == \"Jul\"){\n    strDate = strDate + \"07\";\n  }else if (parts[1] == \"Aug\"){\n    strDate = strDate + \"08\";\n  }else if (parts[1] == \"Sep\"){\n    strDate = strDate + \"09\";\n  }else if (parts[1] == \"Oct\"){\n    strDate = strDate + \"10\";\n  }else if (parts[1] == \"Nov\"){\n    strDate = strDate + \"11\";\n  }else if (parts[1] == \"Dec\"){\n    strDate = strDate + \"12\";\n  }\n\n//Compile the string as YYYYMMDD\nstrDate = strDate + parts[2];\n\n//Add a time stam as _HHMMSS\nvar arr = parts[4].split(\":\");\nstrDate = strDate + \"_\" + arr[0] + arr[1] + arr[2];\n\n//var x = Math.floor((Math.random() * 1000) + 1);\n//var gifName = \"img\" + strDate + x.toString();\n\n//Setup the new file for the new GIF\nvar gifName = \"img\" + strDate\nglobal.set(\"gifName\", gifName);\nmsg.payload =  gifName;\nreturn msg;\n\n//this node will throw an error if\n//the context sorage is not enabled \n//in settings.js.\n//Without context storage, you could remove\n//the \"default\" argument in the global.set line.\n","outputs":1,"noerr":0,"x":500,"y":1480,"wires":[["3d5513dc.cdc70c","c682a432.b10188"]]},{"id":"90ba31cc.71426","type":"function","z":"bad76204.c8df4","name":"name gif","func":"//After the gif script has completed,\n//the global variable is used to pass on the \n//gif name to the template node for display.\n//In the event of a reboot, the context storage\n//needs to be enabled in settings.js so this\n//gets stored in the file system rather than\n//getting lost.\n\nvar gifName = global.get(\"gifName\");\nmsg.payload = gifName;\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1280,"wires":[["cb8d83a4.52a92","9d915869.6a4ff8","d18c6e2.335569"]]},{"id":"ca3ec5d5.af2aa8","type":"inject","z":"bad76204.c8df4","name":"every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1760,"wires":[["c21c9c6c.a1d82"]]},{"id":"f9d41146.a7bc4","type":"exec","z":"bad76204.c8df4","command":"ls  /home/pi/.node-red/static/seq/  -1 | wc -l","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Count images","x":720,"y":1760,"wires":[["d9ab25d4.aa25e8","1b38abf3.6cb724","64101cc0.7ac154","ec352522.bd6258"],[],[]]},{"id":"1a3b8675.6f0a4a","type":"inject","z":"bad76204.c8df4","name":"On Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":120,"y":1280,"wires":[["90ba31cc.71426"]]},{"id":"7e8f237a.c132fc","type":"comment","z":"bad76204.c8df4","name":"Set Stop Time to record gif","info":"Set the inject node to the time you want \nrecording to stop.\nThe exec node will run an exec command to create \nan animated gif from all the images that have been \nstored. It will also remove the original jpg images.\n","x":130,"y":1400,"wires":[]},{"id":"60a1e208.ca489c","type":"comment","z":"bad76204.c8df4","name":"Push gif name","info":"In the event of a reboot a little extra push\nis needed to inject the gif name into the \ntemplate node.\nThis Inject node fires once on startup.","x":110,"y":1240,"wires":[]},{"id":"809bf93d.e9d288","type":"comment","z":"bad76204.c8df4","name":"Latest image","info":"This template node has the HTML code to display\nthe latest image from the motion program.\n","x":910,"y":880,"wires":[]},{"id":"fc18d438.496588","type":"comment","z":"bad76204.c8df4","name":"Show GIF","info":"This template node has the HTML code to show\nthe animated gif.","x":1260,"y":1280,"wires":[]},{"id":"ced75f64.d9c0d","type":"comment","z":"bad76204.c8df4","name":"make-gif.sh","info":"This exec node runs the shell script that\ndoes all the work with ffmpeg.\nThe time stamp from the inject node is passed\ninto the exec node which uses it to name\nthe gif that results.\nWhen complete, it passes a message on to the\n'name gif' function node.  This node ignores\nany content of the message.  It is just triggered \nby the event to pass on the gif name it get from \nglobal storage to the template node.\nThis can take a few minutes to run depending on how\nmany images you have.\n\nYou can get make-gif.sh at:\nhttps://github.com/WillWelker/pi-temporal-camera/tree/master/bash\nThe script should be placed in your /home/pi/.node-red/ directory.\nYou can make the script file executable with:\nsudo chmod +x make-gif.sh \nor from the Pi Desktop environment,\nyou can right click the file > properties > Permissions, set\nexecutable to 'anyone'.","x":710,"y":1400,"wires":[]},{"id":"456448f0.125178","type":"comment","z":"bad76204.c8df4","name":"count images","info":"This exec node runs a command to count the\nimages in /home/pi/.node-re/static/seq/\n\nls  /home/pi/.node-red/static/seq/  -1 | wc -l\n\n\n\n\n","x":710,"y":1719,"wires":[]},{"id":"b3638ef.2370b7","type":"comment","z":"bad76204.c8df4","name":"Dashboard button","info":"Dashboard button to 'make gif now' with \nthe images currently in the seq directory.","x":150,"y":1480,"wires":[]},{"id":"bfd7fb1.c14d608","type":"change","z":"bad76204.c8df4","name":"Done","rules":[{"t":"set","p":"payload","pt":"msg","to":"Done.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1440,"wires":[["d8ad8bd5.e4c138"]]},{"id":"3d5513dc.cdc70c","type":"change","z":"bad76204.c8df4","name":"Working","rules":[{"t":"set","p":"payload","pt":"msg","to":"Working...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1480,"wires":[["d8ad8bd5.e4c138"]]},{"id":"d404b3c5.85853","type":"comment","z":"bad76204.c8df4","name":"Status","info":"These two change nodes set the text output to 'Working...'\nat the beginning of the gif process and then 'Done.'\nat the the end of the proccess.","x":930,"y":1360,"wires":[]},{"id":"757811a3.983a5","type":"exec","z":"bad76204.c8df4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Take Picture","x":670,"y":1040,"wires":[["cfb4aee9.58878","fca864cf.9a34e8"],[],[]]},{"id":"fa488fff.9b22d","type":"function","z":"bad76204.c8df4","name":"image name","func":"//creat new message object for second output\n//increase the outputs to 2 with the option below\nvar msg2 = {};\n    \n//build the raspistill comand to take a picture\nvar imgPath = \"raspistill -o /home/pi/.node-red/static/seq/\" + msg.payload + \".jpg -w 640 -h 480\";\n//put the full raspistill comand into msg2.payload\nmsg2.payload = imgPath;\n    \n//the first output will send msg\n//the second output will send msg2\nreturn [ msg, msg2 ];\n","outputs":2,"noerr":0,"x":430,"y":927,"wires":[["c2cebf73.c7e4d"],["757811a3.983a5","d255dbdf.db1278"]]},{"id":"83d0da1a.3c36e8","type":"comment","z":"bad76204.c8df4","name":"exec raspistill","info":"This exec node runs the raspisill command\npassed from the previous function node,","x":670,"y":1000,"wires":[]},{"id":"c2cebf73.c7e4d","type":"delay","z":"bad76204.c8df4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":920,"wires":[["f548d4b0.0ba768"]]},{"id":"30e396b.887036a","type":"comment","z":"bad76204.c8df4","name":"Display last","info":"Wait a few seconds for raspistill to \ncomplete, then send the image name to \nthe template node.","x":670,"y":880,"wires":[]},{"id":"674b394d.b07428","type":"exec","z":"bad76204.c8df4","command":"rm -f /home/pi/.node-red/static/seq/*.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Clear Images","x":710,"y":2000,"wires":[["54f647a1.d99168","792b0196.241ee"],[],[]]},{"id":"9e4b5575.c082b8","type":"link in","z":"bad76204.c8df4","name":"Count","links":["c21c9c6c.a1d82","fca864cf.9a34e8","52b16130.ff108","88578d5.c46ac7","7a589f9a.42875"],"x":585,"y":1760,"wires":[["f9d41146.a7bc4"]]},{"id":"fca864cf.9a34e8","type":"link out","z":"bad76204.c8df4","name":"To Count Images","links":["9e4b5575.c082b8"],"x":835,"y":1000,"wires":[]},{"id":"88578d5.c46ac7","type":"link out","z":"bad76204.c8df4","name":"To Count Images","links":["9e4b5575.c082b8"],"x":895,"y":1400,"wires":[]},{"id":"c21c9c6c.a1d82","type":"link out","z":"bad76204.c8df4","name":"To Count Images","links":["9e4b5575.c082b8"],"x":435,"y":1760,"wires":[]},{"id":"52b16130.ff108","type":"link out","z":"bad76204.c8df4","name":"To Count Images","links":["9e4b5575.c082b8"],"x":1075,"y":1986,"wires":[]},{"id":"8f9fc43e.d54278","type":"comment","z":"bad76204.c8df4","name":"Links","info":"Several processes need to trigger the \nCount Images node when complete.\nTo clean things up I made a number\nof link-to nodes all connect to a\nsingle link-from node at the Count Images\nexec node.","x":510,"y":1720,"wires":[]},{"id":"ff3e4c44.21d1a","type":"comment","z":"bad76204.c8df4","name":"CSS Style","info":"This template node contains a little CSS\nto style my link text.\n","x":1080,"y":880,"wires":[]},{"id":"7b5f0a18.8214f4","type":"inject","z":"bad76204.c8df4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2020,"wires":[["674b394d.b07428"]]},{"id":"54f647a1.d99168","type":"delay","z":"bad76204.c8df4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":1987,"wires":[["52b16130.ff108"]]},{"id":"d255dbdf.db1278","type":"change","z":"bad76204.c8df4","name":"Working","rules":[{"t":"set","p":"payload","pt":"msg","to":"Working...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1100,"wires":[["6975368e.4f64b8"]]},{"id":"cfb4aee9.58878","type":"trigger","z":"bad76204.c8df4","op1":"Done","op2":"<i class=\"fa fa-camera\" aria-hidden=\"true\"></i>","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"Done","x":870,"y":1040,"wires":[["6975368e.4f64b8"]]},{"id":"a8b9396b.07cbf8","type":"change","z":"bad76204.c8df4","name":"timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":927,"wires":[["fa488fff.9b22d"]]},{"id":"4ac2145c.549ecc","type":"comment","z":"bad76204.c8df4","name":"Load timestamp","info":"Sets msg.paylod to timestamp","x":220,"y":887,"wires":[]},{"id":"1b38abf3.6cb724","type":"switch","z":"bad76204.c8df4","name":"250","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"250","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1740,"wires":[["b03850c5.6bf74"]]},{"id":"d81b5113.eb713","type":"comment","z":"bad76204.c8df4","name":"Max Image","info":"Set max image count.\nIf exeeded, Make-gif will execute.\nTrying to process too many images\ncan stall the Pi.","x":940,"y":1520,"wires":[]},{"id":"e16e5a9e.962d48","type":"exec","z":"7ffa930e.5d138c","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":592.2221908569336,"y":133.33333683013916,"wires":[["644d9ffb.2bd6a"],[],[]]},{"id":"786b9bdf.1dcb64","type":"inject","z":"7ffa930e.5d138c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"","x":374.49996185302734,"y":133.80555629730225,"wires":[["e16e5a9e.962d48","b4abc1bd.8579e","ebac0d88.a813"]]},{"id":"644d9ffb.2bd6a","type":"function","z":"7ffa930e.5d138c","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":120,"wires":[["764e916b.63c5c","9b4e0464.969ba8"]]},{"id":"b2c96c64.df46b","type":"exec","z":"7ffa930e.5d138c","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":581.888916015625,"y":417.0000457763672,"wires":[[],[],[]]},{"id":"f178e237.4e017","type":"exec","z":"7ffa930e.5d138c","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":591.1666564941406,"y":473.6944923400879,"wires":[[],[],[]]},{"id":"b4abc1bd.8579e","type":"exec","z":"7ffa930e.5d138c","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":592.2221908569336,"y":213.33333683013916,"wires":[["79560c4d.2a8974"],[],[]]},{"id":"ebac0d88.a813","type":"exec","z":"7ffa930e.5d138c","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":592.2222099304199,"y":277.5555725097656,"wires":[["ca8310b1.282d1"],[],[]]},{"id":"4b4519f1.d57488","type":"exec","z":"7ffa930e.5d138c","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":589.888843536377,"y":345.2222442626953,"wires":[["a9dbdc6.1106e2"],[],[]]},{"id":"a9dbdc6.1106e2","type":"function","z":"7ffa930e.5d138c","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":737.6666107177734,"y":331.88890171051025,"wires":[["a3550245.8342e"]]},{"id":"c96c5cc1.8002e","type":"inject","z":"7ffa930e.5d138c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":389.88884353637695,"y":345.2222442626953,"wires":[["4b4519f1.d57488"]]},{"id":"3100af66.bcde","type":"inject","z":"7ffa930e.5d138c","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"","x":385.90821075439453,"y":532.567081451416,"wires":[["d48d855e.5a0848"]]},{"id":"d48d855e.5a0848","type":"exec","z":"7ffa930e.5d138c","command":"hostname","addpay":false,"append":"-I","useSpawn":"","timer":"","name":"Get Local IP","x":590.4637641906738,"y":533.0670948028564,"wires":[["4a9a5d13.8d2154"],[],[]]},{"id":"e46f75b7.3b97e8","type":"comment","z":"eb31d28b.ed9f1","name":"OpenWeatherMap One Call API for Weather and Forecast","info":"","x":250,"y":100,"wires":[]},{"id":"35e6e4ab.5614ac","type":"function","z":"eb31d28b.ed9f1","name":"Format forecast data","func":"var fcdata = {};\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n    if (units == \"imperial\") {\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°F'\n        }\n    }\n    else { // metric\n//        temp = parseFloat(temp).toFixed(1) + '°C'\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°C'\n        }\n    }\n    return temp;\n}\nfunction dayName(unixTime){\n    var d = new Date(unixTime * 1000);\n    var weekday = new Array(7);\n        weekday[0] = \"Sun\";\n        weekday[1] = \"Mon\";\n        weekday[2] = \"Tue\";\n        weekday[3] = \"Wed\";\n        weekday[4] = \"Thu\";\n        weekday[5] = \"Fri\";\n        weekday[6] = \"Sat\";\n\n    return weekday[d.getDay()]\n}\nfunction timeConvert(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n//  return hour + ':' + min + suffix;\n  return hour + suffix;\n}\n// prepare forecast data for CSS based ui widget\n\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload.hourly[1].dt),\n      cell02: timeConvert(msg.payload.hourly[2].dt),\n      cell03: timeConvert(msg.payload.hourly[3].dt),\n      cell04: timeConvert(msg.payload.hourly[4].dt),\n      cell05: timeConvert(msg.payload.hourly[5].dt),\n      cell06: timeConvert(msg.payload.hourly[6].dt),\n      cell07: dayName(msg.payload.daily[1].dt),\n      cell08: dayName(msg.payload.daily[2].dt),\n      cell09: dayName(msg.payload.daily[3].dt),\n      cell10: dayName(msg.payload.daily[4].dt),\n  \t},\n  \tdata02: {\n       cell01: formatTemp(msg.payload.hourly[1].temp),\n       cell02: formatTemp(msg.payload.hourly[2].temp),\n       cell03: formatTemp(msg.payload.hourly[3].temp),\n       cell04: formatTemp(msg.payload.hourly[4].temp),\n       cell05: formatTemp(msg.payload.hourly[5].temp),\n       cell06: formatTemp(msg.payload.hourly[6].temp),\n       cell07: formatTemp(msg.payload.daily[1].temp.max, msg.payload.daily[0].temp.min),\n       cell08: formatTemp(msg.payload.daily[2].temp.max, msg.payload.daily[1].temp.min),\n       cell09: formatTemp(msg.payload.daily[3].temp.max, msg.payload.daily[2].temp.min),\n       cell10: formatTemp(msg.payload.daily[4].temp.max, msg.payload.daily[3].temp.min),\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload.hourly[1].weather[0].icon,\n  \t\tcell02: msg.payload.hourly[2].weather[0].icon,\n  \t\tcell03: msg.payload.hourly[3].weather[0].icon,\n  \t\tcell04: msg.payload.hourly[4].weather[0].icon,\n  \t\tcell05: msg.payload.hourly[5].weather[0].icon,\n  \t\tcell06: msg.payload.hourly[6].weather[0].icon,\n  \t\tcell07: msg.payload.daily[1].weather[0].icon,\n  \t\tcell08: msg.payload.daily[2].weather[0].icon,\n  \t\tcell09: msg.payload.daily[3].weather[0].icon,\n  \t\tcell10: msg.payload.daily[4].weather[0].icon,\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"x":920,"y":360,"wires":[["84cc5ca3.1c0ce"]]},{"id":"4620f0e6.08ede","type":"http request","z":"eb31d28b.ed9f1","name":"Get OWM data","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.openweathermap.org/data/2.5/onecall","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":160,"wires":[["fbcd4a7e.3bb168","35e6e4ab.5614ac"]]},{"id":"82f6678b.eb8508","type":"inject","z":"eb31d28b.ed9f1","name":"Trigger","topic":"","payload":"true","payloadType":"bool","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":160,"wires":[["c3b76f75.5544d"]]},{"id":"fbcd4a7e.3bb168","type":"function","z":"eb31d28b.ed9f1","name":"Format current data","func":"//Variable for the logo object for weather\nvar icon = {};\n\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var suffix = \" am\";\n  if (hour >= 12) {\n    hour = hour - 12;\n    suffix = \" pm\";\n  }\n  if (hour === 0) {\n    hour = 12;\n  }\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n  return hour + ':' + min + suffix;\n}\n\nvar degreesToCardinal = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"NNE\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"NE\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"ENE\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"E\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"ESE\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"SE\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"SSE\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"S\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"SSW\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"SW\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"WSW\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"W\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"WNW\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"NW\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"NNW\";\n  }else{\nreturn \"N\"; \n  }\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed() + ' °F';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed() + ' mph';\n}\nelse // metric units\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed(1) + ' °C';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed(1) + ' m/s';\n}\n\nmsg.payload.current.wind_cardinal = degreesToCardinal(msg.payload.current.wind_deg);\nmsg.payload.current.sunrise = timeConvert(msg.payload.current.sunrise);\nmsg.payload.current.sunset = timeConvert(msg.payload.current.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.current.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];","outputs":2,"noerr":0,"x":910,"y":160,"wires":[["1618961.957256a","9fcc20a2.64d7e","c8ed2a34.bf06c8","e0c46b3.4cc2d98","31f32f41.34103","c5adb0be.bdd07"],["6233fc8.56aad04"]]},{"id":"c3b76f75.5544d","type":"change","z":"eb31d28b.ed9f1","name":"Set location, appid, units","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.lat","pt":"msg","to":"50","tot":"str"},{"t":"set","p":"payload.lon","pt":"msg","to":"-100","tot":"str"},{"t":"set","p":"payload.appid","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.units","pt":"msg","to":"imperial","tot":"str"},{"t":"set","p":"units","pt":"flow","to":"payload.units","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":160,"wires":[["4620f0e6.08ede"]]},{"id":"58dc8361.aa3b9c","type":"link out","z":"eb31d28b.ed9f1","name":"Refresh","links":["d3bbed41.46cb2"],"x":1295,"y":280,"wires":[]},{"id":"d3bbed41.46cb2","type":"link in","z":"eb31d28b.ed9f1","name":"","links":["58dc8361.aa3b9c"],"x":195,"y":200,"wires":[["c3b76f75.5544d"]]},{"id":"ae1eb04b.45192","type":"switch","z":"eb31d28b.ed9f1","name":"tab focus","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":260,"wires":[["c3b76f75.5544d"]]},{"id":"e87d112b.c868a","type":"comment","z":"eb31d28b.ed9f1","name":"Original flow credit","info":"Started off with the flow done by KanyonKris,  https://flows.nodered.org/user/KanyonKris\n\nhttps://flows.nodered.org/flow/d7af9f5d6f6923324466c58ea4f0655f","x":130,"y":40,"wires":[]},{"id":"a85d53dc.d5461","type":"comment","z":"7ffa930e.5d138c","name":"Original flow credit","info":"Started off with the flow done by gestadieu,  https://flows.nodered.org/user/gestadieu\n\nhttps://flows.nodered.org/flow/25af5334a79d6c02d6413968a8bff572","x":370,"y":60,"wires":[]},{"id":"11bb18a4.2539b7","type":"comment","z":"bad76204.c8df4","name":"Original flow credit","info":"Started off with the flow done by Will Welker,  https://github.com/WillWelker/pi-temporal-camera","x":130,"y":40,"wires":[]},{"id":"297dfa4e.7832e6","type":"rpi-gpio in","z":"bad76204.c8df4","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":90,"y":580,"wires":[["2887fe40.afbd02","683cf4f1.e0182c"]]},{"id":"2887fe40.afbd02","type":"switch","z":"bad76204.c8df4","name":"Trigger","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":580,"wires":[["dcda01ef.78c82"]]},{"id":"ba566a54.a48b88","type":"comment","z":"bad76204.c8df4","name":"PIR trigger","info":"This will make sure the PIR only triggers at the rising edge of the GPIO","x":100,"y":540,"wires":[]},{"id":"c5adb0be.bdd07","type":"debug","z":"eb31d28b.ed9f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":40,"wires":[]},{"id":"2c93b5cb.d1d91a","type":"comment","z":"bad76204.c8df4","name":"Set Timelapse Resolution ","info":"This will take the UI input of delay in minutes and update the loop","x":130,"y":320,"wires":[]},{"id":"eab8a1ac.1ab7b","type":"inject","z":"bad76204.c8df4","name":"Startup","topic":"","payload":"payload","payloadType":"msg","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":360,"wires":[["1029b219.728a1e","a2fdbf2b.5d38b"]]},{"id":"67c3bf44.69cc5","type":"debug","z":"bad76204.c8df4","name":"Trigger?","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1020,"y":360,"wires":[]},{"id":"3cb04d64.597a02","type":"debug","z":"bad76204.c8df4","name":"Global UI timelapse resolution","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"delay","targetType":"msg","x":910,"y":300,"wires":[]},{"id":"7946eba.c7cde14","type":"function","z":"bad76204.c8df4","name":"Store the delay value.","func":"node.log(\"Payload received\");       \nlet delay = context.get('DELAY') || msg.payload*1000*60;\nmsg = {payload:msg.payload, delay:delay};\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["c3ad05f1.4eca68","3cb04d64.597a02"]]},{"id":"c3ad05f1.4eca68","type":"delay","z":"bad76204.c8df4","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":440,"wires":[["7946eba.c7cde14","ca31f102.c97dd"]]},{"id":"a2fdbf2b.5d38b","type":"change","z":"bad76204.c8df4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["f4d0ba61.de9548"]]},{"id":"1f236c92.fd6253","type":"comment","z":"bad76204.c8df4","name":"Change Timer Mode","info":"Sets the default Bigtimer setting to Auto at startup","x":390,"y":120,"wires":[]},{"id":"10e6d7a.a0b1e28","type":"debug","z":"bad76204.c8df4","name":"BigTimerOut","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":100,"wires":[]},{"id":"7f559ec3.71cad","type":"switch","z":"bad76204.c8df4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":160,"wires":[["f160ad1e.85627"],["f160ad1e.85627"]]},{"id":"f160ad1e.85627","type":"rbe","z":"bad76204.c8df4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1030,"y":160,"wires":[["10e6d7a.a0b1e28","ba18ae68.a19c7"]]},{"id":"ba18ae68.a19c7","type":"change","z":"bad76204.c8df4","name":"","rules":[{"t":"set","p":"isDayTime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":160,"wires":[["32a728c3.ea7f38"]]},{"id":"ca31f102.c97dd","type":"function","z":"bad76204.c8df4","name":"TriggerPic?","func":"var isTrigger = global.get('isDayTime');\n\nif(isTrigger == 1)\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":440,"wires":[["67c3bf44.69cc5","e2894725.5db788"]]},{"id":"e2894725.5db788","type":"link out","z":"bad76204.c8df4","name":"To Picture Trigger","links":["d8a12de0.5a7e1"],"x":1035,"y":440,"wires":[]},{"id":"d8a12de0.5a7e1","type":"link in","z":"bad76204.c8df4","name":"Count","links":["e2894725.5db788","dcda01ef.78c82","e513e04.8bbf02"],"x":95,"y":927,"wires":[["a8b9396b.07cbf8"]]},{"id":"1ed5c44a.dc918c","type":"comment","z":"bad76204.c8df4","name":"Save global Delay","info":"Saves the latest delay from the UI in a global variable to be used in the timer loop below.","x":630,"y":320,"wires":[]},{"id":"493b6b1f.5687a4","type":"comment","z":"bad76204.c8df4","name":"Timer Status","info":"Saves the timer status in a global variable. If timer is Off, the only trigger for the picture is the PIR sensor","x":890,"y":120,"wires":[]},{"id":"e029976f.adfe18","type":"comment","z":"bad76204.c8df4","name":"Trigger Pic?","info":"Only triggers are:\n1. Timer loop is active via the global variable\n2. PIR sensor triggers\n3. UI trigger","x":1050,"y":400,"wires":[]},{"id":"befd3a5d.2adbe8","type":"comment","z":"bad76204.c8df4","name":"Show Links","info":"It also contains code for a download link\nto save the current gif.","x":1290,"y":1240,"wires":[]},{"id":"792b0196.241ee","type":"change","z":"bad76204.c8df4","name":"Done","rules":[{"t":"set","p":"payload","pt":"msg","to":"Done.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1940,"wires":[["4a1d1686.5ebae8"]]},{"id":"71e27f6c.f66c2","type":"change","z":"bad76204.c8df4","name":"Working","rules":[{"t":"set","p":"payload","pt":"msg","to":"Deleting...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1900,"wires":[["4a1d1686.5ebae8"]]},{"id":"64101cc0.7ac154","type":"function","z":"bad76204.c8df4","name":"","func":"if(msg.payload > 0)\n{\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":780,"y":1860,"wires":[["97409373.03dc1"]]},{"id":"97409373.03dc1","type":"change","z":"bad76204.c8df4","name":"Active","rules":[{"t":"set","p":"payload","pt":"msg","to":"...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1860,"wires":[["4a1d1686.5ebae8"]]},{"id":"e05ab1f1.fe9d5","type":"change","z":"bad76204.c8df4","name":"Inactive","rules":[{"t":"set","p":"payload","pt":"msg","to":"INACTIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":140,"wires":[["8ff552f9.bb542"]]},{"id":"b37323ba.067b9","type":"change","z":"bad76204.c8df4","name":"Active","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":180,"wires":[["8ff552f9.bb542"]]},{"id":"32a728c3.ea7f38","type":"switch","z":"bad76204.c8df4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":160,"wires":[["e05ab1f1.fe9d5"],["b37323ba.067b9"]]},{"id":"305978e6.575fa8","type":"change","z":"bad76204.c8df4","name":"Not Triggered","rules":[{"t":"set","p":"payload","pt":"msg","to":"NOT TRIGGERED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":620,"wires":[["703dade4.638f44"]]},{"id":"20c1aec2.29f642","type":"change","z":"bad76204.c8df4","name":"Triggered","rules":[{"t":"set","p":"payload","pt":"msg","to":"TRIGGERED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":660,"wires":[["703dade4.638f44"]]},{"id":"683cf4f1.e0182c","type":"switch","z":"bad76204.c8df4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":640,"wires":[["305978e6.575fa8"],["20c1aec2.29f642"]]},{"id":"f677198b.9ff9a8","type":"function","z":"28331621.73277a","name":"gif name","func":"msg.path = \"/home/pi/.node-red/static/gif/old/\";\n\nmsg.filename = msg.file;\n\nmsg.payload = msg.path + msg.filename\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["773dbe29.db381"]]},{"id":"6749b4c0.2aecdc","type":"exec","z":"28331621.73277a","command":"rm ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1370,"y":380,"wires":[[],[],[]]},{"id":"6847d184.8af01","type":"comment","z":"28331621.73277a","name":"Delete local file","info":"Once the file is on dropbox, get the path and file name and delete the local file then","x":240,"y":260,"wires":[]},{"id":"3119307c.fd8c8","type":"comment","z":"28331621.73277a","name":"Backup files daily","info":"Nightly backup. Retrieve the list of all files created that day and upload them.","x":240,"y":100,"wires":[]},{"id":"d3463034.ffdd1","type":"change","z":"28331621.73277a","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":380,"wires":[["c50c3d05.b6b89","6749b4c0.2aecdc"]]},{"id":"dcda01ef.78c82","type":"link out","z":"bad76204.c8df4","name":"To Picture Trigger","links":["d8a12de0.5a7e1"],"x":1035,"y":580,"wires":[]},{"id":"e513e04.8bbf02","type":"link out","z":"bad76204.c8df4","name":"To Picture Trigger","links":["d8a12de0.5a7e1"],"x":1015,"y":760,"wires":[]},{"id":"a3b082e2.d3f81","type":"comment","z":"bad76204.c8df4","name":"Trigger Pic?","info":"Only triggers are:\n1. Timer loop is active via the global variable\n2. PIR sensor triggers\n3. UI trigger","x":930,"y":560,"wires":[]},{"id":"95776871.978d28","type":"comment","z":"bad76204.c8df4","name":"Trigger Pic?","info":"Only triggers are:\n1. Timer loop is active via the global variable\n2. PIR sensor triggers\n3. UI trigger","x":910,"y":740,"wires":[]},{"id":"e4f63fa4.7ea6a","type":"comment","z":"bad76204.c8df4","name":"UI trigger","info":"This will trigger a picture from the UI","x":100,"y":720,"wires":[]},{"id":"c50c3d05.b6b89","type":"debug","z":"28331621.73277a","name":"Dropbox out 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":320,"wires":[]},{"id":"3de8aca7.831624","type":"debug","z":"28331621.73277a","name":"Dropbox out 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":240,"wires":[]},{"id":"8a8a52e5.52f42","type":"inject","z":"28331621.73277a","name":"Start backup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":"","x":240,"y":140,"wires":[["643d9ba7.5a3f44"]]},{"id":"e475cc15.a06e5","type":"debug","z":"28331621.73277a","name":"Dropbox out 0","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":80,"wires":[]},{"id":"39451d66.b35922","type":"ui_button","z":"bad76204.c8df4","name":"","group":"5aba6d90.86dba4","order":1,"width":4,"height":1,"passthru":false,"label":"Make GIF now","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1520,"wires":[["b03850c5.6bf74"]]},{"id":"21cc328b.f034ee","type":"ui_button","z":"bad76204.c8df4","name":"","group":"5aba6d90.86dba4","order":4,"width":4,"height":1,"passthru":false,"label":"Clear Images","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":1980,"wires":[["674b394d.b07428","71e27f6c.f66c2"]]},{"id":"5281288.594bfd8","type":"ui_button","z":"bad76204.c8df4","name":"","group":"54b442eb.37c71c","order":3,"width":3,"height":1,"passthru":false,"label":"Take Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":760,"wires":[["e513e04.8bbf02"]]},{"id":"e4cdbbf1.f295f8","type":"ui_button","z":"7ffa930e.5d138c","name":"","group":"c4686a98.357ef8","order":2,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":381.6666946411133,"y":417.0000696182251,"wires":[["b2c96c64.df46b"]]},{"id":"582e461c.fd46f8","type":"ui_button","z":"7ffa930e.5d138c","name":"","group":"c4686a98.357ef8","order":3,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":371.27777099609375,"y":473.47229862213135,"wires":[["f178e237.4e017"]]},{"id":"6233fc8.56aad04","type":"ui_button","z":"eb31d28b.ed9f1","name":"IconRefresh","group":"b6ae4f6b.d4cb2","order":1,"width":2,"height":2,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"","icon":"fa-refresh fa-4x","payload":"true","payloadType":"bool","topic":"","x":1170,"y":280,"wires":[["58dc8361.aa3b9c"]]},{"id":"ab84d9bc.a0ce68","type":"ui_button","z":"bad76204.c8df4","name":"","group":"5aba6d90.86dba4","order":7,"width":4,"height":1,"passthru":false,"label":"Clear Chart","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"[]","payloadType":"json","topic":"","x":1110,"y":1720,"wires":[["9997efd0.936a"]]},{"id":"f4d0ba61.de9548","type":"ui_dropdown","z":"bad76204.c8df4","name":"","label":"Timer Mode","tooltip":"","place":"","group":"898ffa36.0d59e8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"On","value":"on","type":"str"},{"label":"Off","value":"off","type":"str"},{"label":"Auto","value":"auto","type":"str"}],"payload":"","topic":"","x":570,"y":160,"wires":[["d9c5554c.a39b78"]]},{"id":"1029b219.728a1e","type":"ui_numeric","z":"bad76204.c8df4","name":"","label":"Time-Lapse Resolution UI","tooltip":"","group":"898ffa36.0d59e8","order":4,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"TimeLapse","format":"{{value}}","min":"1","max":"100","step":1,"x":390,"y":360,"wires":[["7946eba.c7cde14"]]},{"id":"d9ab25d4.aa25e8","type":"ui_text","z":"bad76204.c8df4","group":"5aba6d90.86dba4","order":3,"width":7,"height":1,"name":"Image Count","label":"Image count for next GIF:","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":1840,"wires":[]},{"id":"d8ad8bd5.e4c138","type":"ui_text","z":"bad76204.c8df4","group":"5aba6d90.86dba4","order":2,"width":3,"height":1,"name":"Status","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":1460,"wires":[]},{"id":"6975368e.4f64b8","type":"ui_text","z":"bad76204.c8df4","group":"54b442eb.37c71c","order":4,"width":2,"height":1,"name":"Picture Status","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":1100,"wires":[]},{"id":"4a9a5d13.8d2154","type":"ui_text","z":"7ffa930e.5d138c","group":"c4686a98.357ef8","order":1,"width":"6","height":"2","name":"","label":"IP Address","format":"{{value.substring(0, value.indexOf(\" \"))}}","layout":"col-center","x":930,"y":520,"wires":[]},{"id":"c8ed2a34.bf06c8","type":"ui_text","z":"eb31d28b.ed9f1","group":"b6ae4f6b.d4cb2","order":5,"width":"6","height":1,"name":"Description","label":"","format":"{{msg.payload.current.weather[0].description}}","layout":"row-left","x":1170,"y":80,"wires":[]},{"id":"9fcc20a2.64d7e","type":"ui_text","z":"eb31d28b.ed9f1","group":"b6ae4f6b.d4cb2","order":3,"width":"4","height":1,"name":"Wind","label":"","format":"{{msg.payload.current.wind_speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.current.wind_cardinal}}","layout":"col-center","x":1150,"y":160,"wires":[]},{"id":"e0c46b3.4cc2d98","type":"ui_text","z":"eb31d28b.ed9f1","group":"b6ae4f6b.d4cb2","order":4,"width":"4","height":1,"name":"SunriseTime","label":"","format":"<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.current.sunrise}}","layout":"row-center","x":1170,"y":200,"wires":[]},{"id":"31f32f41.34103","type":"ui_text","z":"eb31d28b.ed9f1","group":"b6ae4f6b.d4cb2","order":6,"width":"4","height":1,"name":"SunsetTime","label":"","format":"<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.current.sunset}}","layout":"row-center","x":1170,"y":240,"wires":[]},{"id":"1618961.957256a","type":"ui_text","z":"eb31d28b.ed9f1","group":"b6ae4f6b.d4cb2","order":2,"width":2,"height":1,"name":"Temperature","label":"","format":"<p style=\"font-size: 200%\">{{msg.payload.current.temp}}</p>","layout":"row-left","x":1170,"y":120,"wires":[]},{"id":"9d915869.6a4ff8","type":"ui_text","z":"bad76204.c8df4","group":"c9feaafa.2f8738","order":1,"width":10,"height":1,"name":"GIF File Name","label":"File Name:","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":1320,"wires":[]},{"id":"4a1d1686.5ebae8","type":"ui_text","z":"bad76204.c8df4","group":"5aba6d90.86dba4","order":5,"width":3,"height":1,"name":"Status","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":1900,"wires":[]},{"id":"8ff552f9.bb542","type":"ui_text","z":"bad76204.c8df4","group":"898ffa36.0d59e8","order":2,"width":0,"height":0,"name":"","label":"Timer Status:","format":"{{msg.payload}}","layout":"row-spread","x":1750,"y":160,"wires":[]},{"id":"703dade4.638f44","type":"ui_text","z":"bad76204.c8df4","group":"898ffa36.0d59e8","order":3,"width":0,"height":0,"name":"","label":"PIR Status:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":640,"wires":[]},{"id":"764e916b.63c5c","type":"ui_gauge","z":"7ffa930e.5d138c","name":"","group":"b54ffbeb.dcaef8","order":1,"width":"3","height":"3","gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"60","x":950,"y":120,"wires":[]},{"id":"79560c4d.2a8974","type":"ui_gauge","z":"7ffa930e.5d138c","name":"","group":"d9bea42d.8dade8","order":1,"width":"3","height":"3","gtype":"gage","title":"CPU","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":912.111083984375,"y":201.11111450195312,"wires":[]},{"id":"ca8310b1.282d1","type":"ui_gauge","z":"7ffa930e.5d138c","name":"","group":"99270f04.70cce","order":1,"width":"3","height":"3","gtype":"gage","title":"Memory free","label":"%","format":"{{parseInt(value)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930.3333320617676,"y":263.5555639266968,"wires":[]},{"id":"a3550245.8342e","type":"ui_gauge","z":"7ffa930e.5d138c","name":"","group":"562a7af5.2f0594","order":1,"width":"3","height":"3","gtype":"gage","title":"Disk Space","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":928.1110496520996,"y":331.88890743255615,"wires":[]},{"id":"9b4e0464.969ba8","type":"ui_chart","z":"7ffa930e.5d138c","name":"","group":"b54ffbeb.dcaef8","order":1,"width":"6","height":"4","label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":950.9999389648438,"y":159.6666717529297,"wires":[[]]},{"id":"9997efd0.936a","type":"ui_chart","z":"bad76204.c8df4","name":"","group":"5aba6d90.86dba4","order":6,"width":7,"height":5,"label":"Image Rate (img/hr)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Refreshing...","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1320,"y":1780,"wires":[[]]},{"id":"2bea1427.f4702c","type":"ui_ui_control","z":"eb31d28b.ed9f1","name":"Update tab","events":"all","x":90,"y":260,"wires":[["ae1eb04b.45192"]]},{"id":"f548d4b0.0ba768","type":"ui_template","z":"bad76204.c8df4","group":"54b442eb.37c71c","name":"Current Image","order":2,"width":12,"height":10,"format":"<img name=\"main\" id=\"main\" border=\"0\" width=\"480\" height=\"460\" src=\"../seq/{{msg.payload}}.jpg\">\n<br>\nCTRL+ to zoom in, CTRL- to zoom out, F11 for full screen","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":920,"y":920,"wires":[[]]},{"id":"cb8d83a4.52a92","type":"ui_template","z":"bad76204.c8df4","group":"c9feaafa.2f8738","name":"Show GIF","order":2,"width":10,"height":7,"format":"<img src=\"../gif/{{msg.payload}}.gif\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1120,"y":1280,"wires":[[]]},{"id":"70fa2933.e70138","type":"ui_template","z":"bad76204.c8df4","group":"54b442eb.37c71c","name":"Style for links","order":1,"width":0,"height":0,"format":"<style>\n/* unvisited link */\na:link {\n  color: blue;\n}\n\n/* visited link */\na:visited {\n  color: green;\n}\n\n/* mouse over link */\na:hover {\n  color: hotpink;\n}\n\n/* selected link */\na:active {\n  color: yellow;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1090,"y":920,"wires":[[]]},{"id":"84cc5ca3.1c0ce","type":"ui_template","z":"eb31d28b.ed9f1","group":"b6ae4f6b.d4cb2","name":"Forecast2","order":7,"width":"12","height":2,"format":"<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell02}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell03}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell04}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell05}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell06}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell07}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell08}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell09}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell10}}\"></i></span>\n </div>\n <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n  <span flex style=\"color: white;text-align: center;\">{{data.cell01}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell02}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell03}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell04}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell05}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell06}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell07}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell08}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell09}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell10}}</span>\n </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1160,"y":360,"wires":[[]]},{"id":"d18c6e2.335569","type":"ui_template","z":"bad76204.c8df4","group":"c9feaafa.2f8738","name":"Show Links","order":3,"width":10,"height":2,"format":"<h3>\n   <i class=\"fa fa-download\" aria-hidden=\"true\"></i>\n   <a href=\"../gif/{{ msg.payload }}.gif\" download=\"time-shift.gif\">Download This GIF <br></a>\n   <i class=\"fa fa-refresh\" aria-hidden=\"true\"></i>\n   <a href=\"../ui\"> Reload Page</a>\n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1130,"y":1240,"wires":[[]]},{"id":"d9c5554c.a39b78","type":"bigtimer","z":"bad76204.c8df4","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"50","lon":"-100","starttime":"5000","endtime":"5001","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":720,"y":160,"wires":[[],["7f559ec3.71cad"],[]]},{"id":"ec352522.bd6258","type":"msg-speed","z":"bad76204.c8df4","name":"Image/Hr","frequency":"hour","interval":1,"estimation":true,"ignore":false,"x":1120,"y":1780,"wires":[["9997efd0.936a"],[]]},{"id":"3c063cb7.c5f7d4","type":"dropbox in","z":"28331621.73277a","dropbox":"c4f41c90.1dbb4","filepattern":"","name":"","x":260,"y":300,"wires":[["3de8aca7.831624","f677198b.9ff9a8"]]},{"id":"fba048f.7f3bab8","type":"dropbox out","z":"28331621.73277a","dropbox":"c4f41c90.1dbb4","filename":"","localFilename":"","name":"Dropbox","x":760,"y":140,"wires":[]},{"id":"643d9ba7.5a3f44","type":"readdir","z":"28331621.73277a","name":"","dir":"/home/pi/.node-red/static/gif/old","as":"multi","recursive":false,"outproperty":"localFilename","x":500,"y":140,"wires":[["fba048f.7f3bab8","e475cc15.a06e5"]]},{"id":"f836f542.d83938","type":"fs-ops-access","z":"28331621.73277a","name":"","path":"path","pathType":"msg","filename":"filename","filenameType":"msg","read":true,"write":true,"throwerror":false,"x":950,"y":380,"wires":[["d3463034.ffdd1"],[]]},{"id":"c07fdd5a.339e5","type":"ui_button","z":"28331621.73277a","name":"Upload Now","group":"5aba6d90.86dba4","order":8,"width":0,"height":0,"passthru":false,"label":"Upload Now","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":180,"wires":[["643d9ba7.5a3f44"]]},{"id":"29ebee23.0ac072","type":"debug","z":"28331621.73277a","name":"output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":480,"wires":[]},{"id":"7b174ce6.f38cf4","type":"inject","z":"28331621.73277a","name":"start processing","topic":"control","payload":"peek","payloadType":"str","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":410,"y":440,"wires":[["773dbe29.db381"]]},{"id":"e08fbf74.c5c47","type":"delay","z":"28331621.73277a","name":"process","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":440,"wires":[["29ebee23.0ac072","fa78ed81.4049f","f836f542.d83938"]]},{"id":"963d681b.b56f88","type":"link out","z":"28331621.73277a","name":"","links":["acd8f9b5.275248"],"x":1055,"y":480,"wires":[]},{"id":"acd8f9b5.275248","type":"link in","z":"28331621.73277a","name":"","links":["963d681b.b56f88"],"x":455,"y":480,"wires":[["773dbe29.db381"]]},{"id":"fa78ed81.4049f","type":"function","z":"28331621.73277a","name":"get next","func":"node.send({topic: \"control\", payload: \"drop\"})\nmsg.topic = \"control\"\nmsg.payload = \"peek\"\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":440,"wires":[["963d681b.b56f88"]]},{"id":"773dbe29.db381","type":"q-gate","z":"28331621.73277a","name":"q-gate","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"100","keepNewest":false,"qToggle":false,"persist":false,"x":610,"y":440,"wires":[["e08fbf74.c5c47"]]}]